.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
}

.header {
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 100px;
  background: black;
  clip-path: polygon(50% 50%, 100% 20%, 100% 80%, 50% 50%, 0 80%, 0 50%, 0 20%);
}
h1 {
  font-family: "Oswald";
  color: #d5ba5e;
}

h2 {
  font-family: "Oswald";
}
.form-labels {
  font-size: 20px;
}

.input-wrapper {
  width: 500px;
  margin: 50px auto;
}
button {
  background-color: transparent;
  color: black;
  border: none;
  border-bottom: 3px solid #000000;
  margin-bottom: 0.4rem;
  cursor: pointer;
}

input {
  height: 60px;
  width: 100%;
  min-width: 100%;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  border-bottom: 3px solid #333333;
}

.container {
  max-width: 80rem;
  margin: auto;
}

ul {
  padding: 0;
  margin: 0 0 2rem;
  list-style-type: none;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}
